допустим, везде пустые значения
SECRET_KEY=django-insecure-!!6_jer3k6e$1t1&sna$bqi+xc^yozd==($!m0s&jc=1!0t_!(

POSTGRES_DB=hw201
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345

EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=shipilov.max96@yandex.ru
EMAIL_HOST_PASSWORD=xfnqwfiebnpajqnu

CACHE_ENABLED=True
LOCATION=redis://127.0.0.1:6379