<div class="container-fluid">
    <a class="navbar-brand" href="{% url 'catalog:home' %}">Домашняя</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'catalog:contact' %}">Контакты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:catalog' %}">Каталог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:categories' %}">Категории</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog:blog_list' %}">Блог</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="\admin">Админка</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Версия 2.4</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
        <a class="nav-link disabled me-2" aria-disabled="true">Привет
            {% if user.first_name %}
                {{user.first_name}}
            {% else %}
                {{user.email}}
            {% endif %}
            !</a>
<!--        <a href="{% url 'users:profile' %}" class="btn btn-outline-secondary me-2">Профиль</a>-->
        <a href="{% url 'users:logout' %}" class="btn btn-outline-danger me-5">Выйти</a>
        {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-outline-success me-2">Войти</a>
        <a href="{% url 'users:register' %}" class="btn btn-outline-secondary me-5">Регистрация</a>
        {% endif %}
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Найти</button>
        </form>
    </div>
</div>