{% extends 'catalog/base.html' %}
{% block content %}
{% load tags %}
<div class="row">
    <div class="col-3"></div>
    <div class="card col-6">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <a href="{% url 'users:recover_password' %}" class="nav-link">Забыл пароль</a>
                <p></p>
                <button type="submit" class="btn btn-success">
                    Войти
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}