{% extends 'main/base.html' %}
{% block content %}
{% load tags %}
<div class="card mt-5">
    <div class="card-body">
        <h5 class="card-title">{{ object.name | title}}</h5>
        <img src="{{ object.preview| my_media}}" class="card-img-top">
        <p class="card-text">{{object.description | title}}</p>
        <p class="card-text"><small class="text-muted">{{object.updated_up}}</small></p>
        <a type="button" class="btn btn-success text-center" href="#" >В корзину</a>
    </div>
</div>
{% endblock %}