{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}
<a type="button" class="btn btn-success mb-5" href="{% url 'catalog:blog_create' %}" >Создать</a>
    <div class="row container">
        {% for object in object_list %}
            <div class="col-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3  text-center">
                    <h4 class="my-0 fw-normal">{{object.title}}</h4>
                </div>
                <div class="card-body">
                    <img src="{% media object.preview %}" class="card-img-top">
                    <p>
                        {{object.content|string_slice}}...
                    </p>
                    <p class="card-text"><small class="text-muted">{{object.created_at}}</small></p>
                    <p class="card-text"><small class="text-muted">Количество просмотров {{object.views_count}}</small></p>
                    <a type="button" class="btn btn-success" href="{% url 'catalog:blog' object.pk %}" >Подробнее</a>
                    <a type="button" class="btn btn-secondary" href="{% url 'catalog:blog_update' object.pk %}" >Изменить</a>
                    <a type="button" class="btn btn-danger" href="{% url 'catalog:blog_delete' object.pk %}" >Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}