{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}
<div class="row container text-center">
    {% if user.is_authenticated %}
    <div class="col-4"></div>
    <div class="col-4">
        <a type="button" class="btn btn-success mb-5 rounded-3 col-12"
           href="{% url 'catalog:product_create' %}">Создать</a>
    </div>
    <div class="col-4"></div>
    {% endif %}
    {% for object in object_list %}
    <div class="col-4">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{object.name | title}}</h4>
            </div>
            <div class="card-body">
                <img src="{% media object.preview %}" class="card-img-top">
                <p>
                    {{object.description | title}}
                </p>
                <h2 class="card-title pricing-card-title">{{object.price}} руб.</h2>
                <a type="button" class="btn btn-success" href="{% url 'catalog:product' object.pk %}">Подробнее</a>
                {% if perms.catalog.change_description or user == object.creator %}
                    <a type="button" class="btn btn-secondary"
                       href="{% url 'catalog:product_update' object.pk %}">Изменить</a>
                {% endif %}
            </div>
            <div class="card-footer">
                <span class="text-muted">{{object.creator|default:'SkyPro'}}</span>
                {% for version in version_list %}
                    {% if version.product_id == object.id %}
                        {{ version.version_title }}
                    {% endif %}
                {% endfor %}
                <br>
                {% if object.is_published %}
                    Активно
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
